body {
	font-family: 'Baskerville', serif;
}

h1, h2, h3, h4 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	text-decoration: none;
	border: 0;
	margin: 0;
	padding: 0;
	width: 329px;
	height: 109px;
	background: url("Logo-3c.png");
	background-repeat: no-repeat;

	text-indent: 1000em;
	white-space: nowrap;
	overflow: hidden;
}

nav {
background-color: #3A4E69;
font-family: 'Oswald', sans-serif;
font-size: 13px;
}

a {
	background-color: #3A4E69;
	text-decoration: none;
	color: white;
	padding: 10px;
	width: 200px;
	display: block;
	float: left;
}

a:hover {
	background-color: #E96A46;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#rocky {
	width: 60%;
	float: left;
}

aside {
	width: 40%;
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

section {
	background: #F1F1F2;
	color: black;
	overflow: auto;
}

footer {
	text-align: center;
	border-top: 1px solid black;
	padding: 18 px 0;
	margin-top: 40px;
	clear: both;
}